@model List<Pokemon>
@{
    ViewData["Title"] = "Pokemon Review";
}
<div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text">Pokemon Review</h2>
                </div>
             <div class="col-6 text-end">
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add A Pokemon</a>
    </div>
        </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Pokemon Id
                </th>
                <th>
                    Pokemon Name
                </th>
                <th>
                    Pokemon Review
                </th>
                <th>
                    Pokemon Reviewer
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in Model.OrderBy(p => p.Id))
            {
                <tr>
                    <td>
                        @pokemon.Id
                    </td>
                    <td>
                        @pokemon.Name
                    </td>
                    <td>
                        @pokemon.Review
                    </td>
                    <td>
                        @pokemon.Reviewer
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Edit" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Delete" class="btn btn-danger"><i class="bi bi-trash"></i>Delet</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>