@using Microsoft.AspNetCore.Identity
@model IdentityRole
<form method="post">
    <div class="form">
        <div class="container">
            <div class="row pb-2">
                <h2 class="text-primary">Add Role</h2>
            </div>
            <label>Role Name</label>
            <input asp-for=Name class="form-control" />
            <div class="row pt-4">
                <div class="col-6">
                    <button type="submit" class="btn-outline-primary form-control">Add Role</button>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Roles" asp-action="Index" class="btn btn-outline-primary form-control">Return To Roles   </a>
                </div>
            </div>
</form>